<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>new sample app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAF98BA8276778480075FA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF98BBE2767784A0075FA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF98BC82767784A0075FA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
